* {
    background: #eeeeee;
}

body, html {
    background-color: #eeeeee;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: #0637da;
    padding-top: 10px;
    font-size:200%;
}

#content {
    margin-top: 30px;
}

#carton {
    margin: 0 auto;
}

th, td {
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 70px;
    border-radius: 15px;
    font-size:200%;
}

th {
    color: #ffffff;
    border: #ffffff;
}

td {
    background: #ffffff;
}

th[name=B] {
    background: red;
}

th[name=I] {
    background: orange;
}

th[name=N] {
    background: yellowgreen;
}

th[name=G] {
    background: blue;
}

th[name=O] {
    background: purple;
}

#bingo {
    text-align: center;
    margin: 0 auto;
    padding-top: 2%;
}

button{
    border-radius: 15px;
    border: 2px solid rgb(23, 78, 197);
    font-size: 200%;
    font-family: sans-serif;
    background-color: rgb(23, 78, 197);
    color: #ffffff;
    width: 450px;
    margin-left: 30px;
    margin-top: 100px;
}

button:hover{
    background-color: #ffffff;
    color: #0637da;
    font-size: 220%;
}

#balota {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    /* display:block; */
    margin: 20px auto;
    width: 15rem;
    height: 15rem;
    line-height: 5rem;
    border-radius: 50%;
    background-color: rgb(23, 78, 197);
    color: rgb(255, 255, 255);
    text-align: center;
}

@keyframes balota {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(23, 78, 197);}
}

footer {
    height:70px;
    line-height:50px;
    background: radial-gradient(#dee2e6, transparent);
    color: black;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer > div {
    font-weight: bolder;
    font-size: 30px;
}
